/* styles.css */

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 4px solid #007BFF;
    border-radius: 10px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    background-color: #007BFF;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #00BFFF;
}
