html {
  background: conic-gradient(at 125% 50%, #3498db, #e74c3c, #f1c40f, #9b59b6);
  color: #333; /* Change the text color to your preference */
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

body {
  border: 1px solid #ccc; /* Change the border color */
  border-radius: 10px;
  height: 100vh;
  width: 400px;
  margin: 0 auto;
  background-color: #ecf0f1; /* Change the background color to your preference */
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

section > div {
  color: #333; /* Change the text color to your preference */
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
}

.bill {
  padding-bottom: 10px;
}

.bill input {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: auto;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc; /* Change the border color */
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.range {
  width: 100%;
  height: 10px;
  cursor: pointer;
}

/* Accent Color for Buttons */
.bill button {
  color: #fff; /* Change the text color of the button */
  background-color: #3498db; /* Change the background color of the button */
}

@media (max-width: 450px) {
  body {
    height: 100vh;
    width: 300px;
    margin: 0 auto;
    background-color: #ecf0f1; /* Change the background color to your preference */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .bill input {
    width: 40%;
  }

  .bill button {
    width: 10%;
  }
}

@media (max-width: 350px) {
  body {
    height: 100vh;
    width: 250px;
    margin: 0 auto;
    background-color: #ecf0f1; /* Change the background color to your preference */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .bill input {
    width: 95%;
  }

  .bill button {
    width: 10%;
  }
}
